<div id="<%= dom_id outfit_product %>">
  <p>
    <strong>Outfit:</strong>
    <%= outfit_product.outfit_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= outfit_product.product_id %>
  </p>

</div>
