<h1>Editing outfit product</h1>

<%= render "form", outfit_product: @outfit_product %>

<br>

<div>
  <%= link_to "Show this outfit product", @outfit_product %> |
  <%= link_to "Back to outfit products", outfit_products_path %>
</div>
