<p style="color: green"><%= notice %></p>

<h1>Outfit products</h1>

<div id="outfit_products">
  <% @outfit_products.each do |outfit_product| %>
    <%= render outfit_product %>
    <p>
      <%= link_to "Show this outfit product", outfit_product %>
    </p>
  <% end %>
</div>

<%= link_to "New outfit product", new_outfit_product_path %>
